<%- include('templates/header') %>

<h1 class="mb-4">Unauthorized</h1>
<div class="alert alert-danger" role="alert">
  You are not authorized to access this page.
</div>
<a href="/" class="btn btn-primary">Back to Home</a>

<%- include('templates/footer') %>